/* CSS Entry Point */
@import 'normalize';
// @import 'font-awesome/scss/font-awesome';

$pomegranate: #ED4121;
$light-pom: lighten($pomegranate, 5%);
$tumbleweed: #DEA68A;
$almond: #F1D6C6;
$white-lilac: #E8E6E9;
$rich-black: lighten(black, 25%);

.app{
	background: $white-lilac;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/////////Homepage Titles/////////////
h1, h2{
	color: darken($pomegranate, 10%);
	font-family: 'Pacifico', cursive;
	font-size: 5.7em;
	letter-spacing: 5px;
	margin: 15px;
}
h3, h4{
	color: black;
	font-family: 'Arimo', sans-serif;
	font-size: 1.5em;
	letter-spacing: .25px;
	text-align: center;
}
/////////Standard Titles/////////////
.create-post-header, .post-det-header,
.reg-header, .feed-header, .logged-in-header, 
.scoreboard-header{
	h1{
		font-size: 2.5em;
		letter-spacing: 0px;
	}
}

/////////////////////////////////////
.btn {
 color: white;
 background-color: lighten($rich-black, 35%);
 text-decoration:none;
 border: none;
 // margin: 10px;
 padding: 5px 10px;
 border: 2.5px solid white;
 border-radius:4px;
 font-family: Helvetica;
 font-size: 1.1em;
 letter-spacing: 1px;
}

p{
	font-family: 'Arimo', sans-serif;
	font-size: 1.3em;
	margin: 15px 15px;
}
////////////Homepage/////////////////
////////Set Logged In Standards here/
////////ROW CENTER///////////////////
.hintpic, .create-post-header,
.post-det-header, .reg-header, 
.scoreboard-header{
	display: flex;
	flex-direction: row;
	align-items: center;
}
////////COLUMN CENTER//////////////
.create-body, .reg-body, 
.feed-header{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px;
	margin-top: 50px;
	margin-bottom: 75px;
	.drop-img,
	.drop-btn{
		margin: 15px 10px;
	}
}
.reg-body{
	margin-bottom: 55px;
}
////////set standard headers///////
.reg-ssf{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-end;
	align-items: center;
}
///////////////////////////////////
//////Header details///////////////
.reg-ssf, .logged-in-header{
	height: 125px;
	background-color: $rich-black;
	justify-content: space-between
}
.reg-ssf{
	height: 60px;
}

///centered header///
.create-post-header, .post-det-header,
.reg-header, .feed-header, .scoreboard-header, 
.logged-in-header{
	flex-direction: column;
	height: 105px;
	background-color: $rich-black;
	justify-content: center;
}
.feed-header{
	border: 5px solid white;
	border-radius: 10px;
	margin: 15px;
	h1{letter-spacing: 3px;
	}
}

////////B U T T O N S/////////////
////////RED HOVER/////////////////
#btn-reg, .drop-btn{
	color: white;
	margin: 25px 0 65px 0;
	padding: 15px;
	font-size: 1.9em;
	letter-spacing: 1.5px;
	border: 3px solid lighten($rich-black, 15%);
	border-radius: 5px;
	 &:hover{
	color: white;
	font-size: 1.95em;
	background-color: $pomegranate;
	border: 3px solid $rich-black;
}
}

.drop-btn{
	padding: 5px;
	font-size: 1.3em;
	letter-spacing: 1px;
	&:hover{
		font-size: 1.35em;
		background-color: black;
		border: 2.5px solid black;
	}
}

#submit-post, #submit-guess, #submit-reg{
	&:hover{
	background-color: $pomegranate;
	border: 2.5px solid $pomegranate;
	}
}
////////Black HOVER/////////////////
#btn-login{
	margin-right: 20px;
	 &:hover{
	background-color: black;
	border: 2.5px solid white;
}
}
.black-btn{
	margin: 15px 15px 0px 15px;
}
/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
.hintpic{
	 justify-content: space-around;
}

.SSF{
	// border: 3px solid red;
	.labels{
		// border: 2px solid orange;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	margin-left: 20px;
	input{
		width: 150px;
		margin-right: 12px;
		padding: 5px;
		border: none;
		border-radius: 3px;
		font-size: 1em;
		background-color: white;
		}
	button{
		// border: 2px solid pink;
	}
  }
}

.hero-image{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-between;
		img{
		border: 7px solid $rich-black;
		border-radius: 10px;
		margin: 0 auto;
		width: 350px;
		}
		p{
		// border:2px solid blue;
		}
	}

.info-box{
	// border: 1px solid red;
	width: 100%;
	margin: 55px auto;
	padding: 25px;
	background-color: $light-pom;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// align-items: center;
    justify-content: space-around;
	.info{
		max-width: 20%;
		// border: 1px solid red;
		margin: 10px;
		h4{
			text-align: center;
			// margin-bottom: 5px;
			letter-spacing: -0.5px;
		}
		p{
			font-size: 1em;
			text-align: justify;
			color: black;
			margin: 0;
			padding: 0;
		}
		.divider{
			height: 10px;
			border-bottom: 2.5px solid black;
			margin-bottom: 10px;
		}
	}
}

.fast-to-join{;
	margin: 0 auto;
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	h3{
		font-size: 2.5em;
		letter-spacing: -0.5px;
	}
	p{
		margin: 3px;
	}
	div{
		text-align: center;
	}
}

footer{
	position: relative;
	height: 400px;
	padding-top: 55px;
	background-color: $rich-black;
	color: white;
	font-family: Helvetica;
	font-size: 12px;
    .foot-box{
    // border: 1px solid blue;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
    	.foot{
    	// border: 1px solid blue;
    	width: 9%;
    	p{
    	margin-bottom:14px;
    	margin-left: 0;
    	font-size: .85em;
    	font-weight: lighter;
    	color: lighten(gray, 60%);
    	letter-spacing: -0.2px;
    	}
    	h4{
    	text-align: left;
    	margin-bottom: 25px;
    	color: lighten(gray, 40%);
    	font-weight: lighter;
    	font-size: 1em;
    	padding:0;	
    	letter-spacing: -0.5px;
    	&:hover{
    		color: white;
    		font-size: 1.05em;
    	}
    	}
    	}
    }
}

.standard-footer{
	height: 120px;
	padding-top: 95px;
	text-align: center;
	background-color: $rich-black;
	color: gray;
	font-family: Helvetica;
	font-size: 0.75em;
}
.home-copyright{
	position: absolute;
	bottom: 5%;
	right: 46%;
	// border: 1px solid red;
	margin: 0 auto;
	text-align: center;
	// position: absolute;
	// right: 5px;
	// bottom: 0px;
}
////////////Dashboard/////////////////
.logged-in-header{
	h3{
		text-align:right;
		font-size: .9em;
		font-family: Arial, sans-serif;
		font-weight: lighter;
		color: white;
		padding-top: 7px;
		padding-right: 7px;
	}
	h1{
		text-align: center;
		margin: 0;
		padding: 0;
		line-height: 50px;
	}
}

.standard-body{
	display: flex;
	flex-direction: row;
	aside{
		width: 20%;
		background-color: $light-pom;
		display: flex;
		flex-direction: column;
	}
	.main{
			margin: 30px;
	}
}
////////////Create Post/////////////////
.create-body{
		// border: 1px solid blue;
	.drop-caption{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.caption-text{
		div input{
			width: 200px;
		}
	
}
}
}
////////////Scoreboard///////////////////
.scoreboard{
	// border: 1px solid red;
	ol{
		height: 300px;
		margin: 35px;
		border: 1.5px solid $rich-black;
		border-radius: 10px;
	}
	#score-back{
		// border: 1px solid red;
		margin-left: 35px;

	}
}
/////////////Register////////////////////

.reg-body{
	// border: 1px solid blue;
	.reg-prompt{
	font-size: .8em;
	margin-bottom: 10px;
	}
	div{
		// border: 1px solid blue;
		margin: 10px;
		text-align: center;
	}
	.reg-form{
		// border: 1px solid blue;
		#reg-text-area{
			// border: 1px solid blue;
			text-align: right;
			label{
				font-size: .95em;
				// font-weight: lighter;
			}
			input{margin-left:10px;}
		}
	}
}
#reg-back{
		margin-left: 15px;
		margin-bottom: 15px;
	}
////////////Post Details/////////////
.post-det-header{
border: 1px solid blue;
}
.post-det-body{
border: 1px solid red;
display: inline-block;
text-align: center;
	h2{
		font-size: 1.5em;
		font-family: 'Arimo', sans-serif;
	}
}
.post-det-form{
border: 1px solid pink;
}
///////////Post Feed///////////////
.feed-header{
		background-color: gray;
		border: none;
		height: 70px;
		h1{
			font-size: 1.8em;
			font-family: 'Pacifico', cursive;
			letter-spacing: 1.5px;
			color: black;
		}
}

.posts-array{
	list-style: none;
	margin-bottom: 75px;
	div{
	width: 100%;

	display: flex;
	flex-direction: column;
	img{
		list-style: none;
		height: 195px;
		margin: 25px;
	}
	}
}


//Post Details
.unsolved {
	opacity: 0;
}


