/* CSS Entry Point */
@import 'normalize';
// @import 'font-awesome/scss/font-awesome';

$pomegranate: #ED4121;
$tumbleweed: #DEA68A;
$almond: #F1D6C6;
$white-lilac: #E8E6E9;

.app{
	background: $white-lilac;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2{
	color: darken($pomegranate, 10%);
	font-family: 'Pacifico', cursive;
	font-size: 4.5em;
	letter-spacing: 5px;
	margin: 5px;
}

h3{
	color: black;
	font-family: Helvetica;
	font-size: 1.5em;
	letter-spacing: 1.5px;
	text-align: center;
}

//Homepage
.hintpic, .reg-ssf{
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
}

.hintpic{
}

.reg-ssf{
}

.SSF{
	// border: 3px solid red;
	display: flex;
	flex-direction: column-reverse;
	.labels{
		// border: 2px solid orange;
	}
	button{
		// border: 2px solid pink;
	}
}

.hero-image{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-around;
		img{
		// border: 2px solid blue;
		margin: 0 auto;
		height: 300px;
		}
		p{
		// border:2px solid blue;
		}
	}

.info-box{
	// border: 1px solid red;
	width: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
    justify-content: space-around;
	.info{
		width: 250px;
		// border: 1px solid red;
		margin: 10px;
	}
}