/* CSS Entry Point */
@import 'normalize';
// @import 'font-awesome/scss/font-awesome';

$pomegranate: #ED4121;
$tumbleweed: #DEA68A;
$almond: #F1D6C6;
$white-lilac: #E8E6E9;
$rich-black: lighten(black, 25%);

.app{
	background: $white-lilac;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2{
	color: darken($pomegranate, 10%);
	font-family: 'Pacifico', cursive;
	font-size: 5.7em;
	letter-spacing: 5px;
	margin: 15px;
}

h3, h4{
	color: black;
	font-family: 'Arimo', sans-serif;
	font-size: 1.5em;
	letter-spacing: .25px;
	text-align: center;
}

.btn {
 color: white;
 background-color: lighten($rich-black, 35%);
 text-decoration:none;
 border: none;
 // margin: 20px 20px;
 padding: 5px 10px;
 border: 2.5px solid white;
 border-radius:4px;
 font-family: Helvetica;
 font-size: 1.1em;
 letter-spacing: 1px;
}

p{
	font-family: 'Arimo', sans-serif;
	font-size: 1.3em;
	margin: 15px 15px;
}

//Homepage
.hintpic{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.reg-ssf{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-end;
	align-items: center;
}

#btn-reg{
	color: white;
	margin: 25px 0 65px 0;
	padding: 15px;
	font-size: 1.9em;
	letter-spacing: 1.5px;
	// text-shadow: 1px 1px 1px $rich-black;
	border: 3px solid lighten($rich-black, 15%);
	border-radius: 5px;
	 &:hover{
	color: white;
	background-color: $pomegranate;
	border: 3px solid black;
}
}

#btn-login{
	margin-right: 20px;
	 &:hover{
	background-color: black;
	border: 2.5px solid white;
}
}

.hintpic{
	 justify-content: space-around;
}

.reg-ssf{
	height: 75px;
	background-color: $rich-black;
	justify-content: space-between
}

.SSF{
	// border: 3px solid red;
	.labels{
		// border: 2px solid orange;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	input{
		width: 150px;
		margin-right: 12px;
		padding: 5px;
		border: none;
		border-radius: 3px;
		font-size: 1em;
		background-color: white;
		}
	button{
		// border: 2px solid pink;
	}
  }
}

.hero-image{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-between;
		img{
		border: 7px solid $rich-black;
		border-radius: 10px;
		margin: 0 auto;
		width: 350px;
		}
		p{
		// border:2px solid blue;
		}
	}

.info-box{
	// border: 1px solid red;
	width: 100%;
	margin: 55px auto;
	padding: 25px;
	background-color: lighten($pomegranate, 5%);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// align-items: center;
    justify-content: space-around;
	.info{
		max-width: 20%;
		// border: 1px solid red;
		margin: 10px;
		h4{
			text-align: center;
			// margin-bottom: 5px;
			letter-spacing: -0.5px;
		}
		p{
			font-size: 1em;
			text-align: justify;
			color: black;
			margin: 0;
			padding: 0;
		}
		.divider{
			height: 10px;
			border-bottom: 2.5px solid black;
			margin-bottom: 10px;
		}
	}
}

.fast-to-join{
	// border: 1px solid red;
	margin: 0 auto;
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	h3{
		font-size: 2.5em;
		letter-spacing: -0.5px;
	}
	p{
		margin: 3px;
	}
	div{
		text-align: center;
	}
}

footer{
	// border: 1px solid red;
	height: 400px;
	padding-top: 55px;
	background-color: $rich-black;
	color: white;
	font-family: Helvetica;
	font-size: 12px;
    .foot-box{
	// border: 1px solid red;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
    	.foot{
    	// border: 1px solid red;
    	width: 10%;
    	p{
    	margin-bottom:14px;
    	margin-left: 0;
    	font-size: 1em;
    	font-weight: lighter;
    	color: lighten(gray, 60%);
    	letter-spacing: -0.2px;
    	}
    	h4{
    	text-align: left;
    	margin-bottom: 25px;
    	color: lighten(gray, 40%);
    	font-weight: lighter;
    	font-size: 1.2em;
    	padding:0;	
    	letter-spacing: -0.5px;
    	&:hover{
    		color: white;
    		font-size: 1.25em;
    	}
    	}
    	}
    }
}

//Post Details
.unsolved {
	opacity: 0;
}

